{{extends 'base_generic'}}

{{#block content}}
<h1>Genre: {{ genre.name }}</h1>

<div style="margin-left: 20px; margin-top: 20px">
  <h4>Books in genre</h4>

  <ul>
    {{#each genre.bookSet as book}}
    <li><a href="{{ book.absoluteUrl }}">{{ book.title }}</a> ({{ book.author }})</li>
    {{else}}
    <li>There are no books in this genre.</li>
    {{/each}}
  </ul>
</div>
{{/block content}}

{{#block sidebar}}
{{ block.super }} {{#if perms.has('Genre.change') || perms.has('Genre.delete')}}
<hr />
<ul class="sidebar-nav">
  {{#if perms.has('Genre.change')}}
  <li><a href="{{ url('genre-update', genre.pk) }}">Update Genre</a></li>
  {{/if}} {{#if !(genre.bookSet | length) && perms.has('Genre.delete')}}
  <li><a href="{{ url('genre-delete', genre.pk) }}">Delete Genre</a></li>
  {{/if}}
</ul>
{{/if}}
{{/block sidebar}}
